.header {
  height: 80vh;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: 10% 10%;
  position: relative;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: url(../images/header.jpg);
  }
  @include respond(phone) {
    background-position: 10% 50%;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: left;
    @include respond(phone) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      position: relative;
    }
  }
}
