.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 4rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    letter-spacing: 0.2rem;

    //Change for the <button> element
    border: 2px solid $color-blue-primary;
    cursor: pointer;
    @include respond(tab-port) {
      padding: 0.1rem 2rem;
    }
  }
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
  &--white {
    background-color: $color-white;
    color: $color-blue-primary;

    &::after {
      background-color: $color-white;
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      background-color: $color-blue-primary;
      color: $color-white;

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  }
  &--blue {
    background-color: $color-blue-primary;
    color: $color-white;

    &::after {
      background-color: $color-blue-primary;
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      background-color: $color-white;
      color: $color-blue-primary;

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
